@model SPFTWJobFormsWebApp.Models.Engineer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Engineer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EngFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngSname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngSname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EngID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
